.withitem{
  position: absolute;
  top: 42%;
  right: -10px;
}
.withoutitem{
 display: none;
}
.officeWithitem{
  position: absolute;
  top: 62%;
  right: -8px;
}
.officewithoutitem{
  position: absolute;
  top: 42%;
  right: -8px;
}
.officewithoutitem input, 
.officeWithitem input{
  padding: 5px;
}
.chkBoxTrainee{
  margin-right: 5px;
  margin-top: 1rem;
}
  .chkBoxWithEmail{
  margin-right: 5px;
  margin-top: 1.6rem;  
}
.displayChkBox{
  display: contents;
}
.displayChkBox p-checkbox .ui-chkbox-label {
  color: #025a9e; 
  margin-right: 5px;
}
#itCareCategory-ar{
  padding-right: 8px;
}
#lang{
  padding-right: 40px;
  color:#26afef;
}
#menuIcon{
  margin-top: 32px;
  margin-right: 11%;
  color:#80bdec;
  font-size: 40px;
  cursor: pointer;
}
 

p-button[icon="pi pi-upload"] {
  display: none !important;
}

#closeIcon:hover{
  cursor: pointer;
  color:#02599d ; 
}

#closeIcon{
  margin-left: -20%;
  font-weight: bold;
  color:#80bdec;
}
#wrapperID{
  margin-right: -12%;
}
.btnColor{
  background-color:#00aeef  !important;
  border-color: #00aeef !important;
}
#itcareDesc{
  resize: auto;
}
#instructionTxt{
  color: #033aff;
  line-height: 2.7em;
  font-size: 1.1em;
}
p-fieldset legend{
  color: #f89c3c;
  font-family: monospace;
}
a:not([href]){
  color: #045da1 !important;
  font-weight: bold;
  cursor: pointer;
  }
  a:not([href]):hover{
    text-decoration: underline !important;
    color: #ea971c !important;
  
  }
  #menuIcon:hover{
    color:#02599d;
    cursor: pointer;
  }

.loader{
  /* position: absolute;
  top: 101px;
  left:100px; */
  position: fixed;
  margin-top: 7%;
  margin-right: 92%;
  z-index: 10001;
}

.loader > ngx-spinner > .overlay{
  position: absolute !important;
  top: 25%;
  left: 90%;

}
.iconArrow:after{
  font-family: "Material Icons";
  content:"\e408"; 

}
body .ui-inputtext{
  padding-left: 6px;
  background-image: linear-gradient(to top, #ffffff  2px, rgba(255, 152, 0, 0) 2px), 
  linear-gradient(to top, #ffffff 2px, rgba(210, 210, 210, 0) 1px) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  border-color: #66afe9;
  outline: 0;
}

.form-control{
  padding-left: 6px;
  background-image: linear-gradient(to top, #ff9800 2px, rgba(255, 152, 0, 0) 2px), 
  linear-gradient(to top, #ffffff 2px, rgba(210, 210, 210, 0) 1px) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  border-color: #66afe9;
  outline: 0;
}

.customlabel
{
  color: #025a9e;
 font-weight: 600!important;
 padding-top: 10px;
}
.sidebar .nav li:hover > a {
  background-color: rgba(249, 216, 167, 0.7);
  color: #3C4858;
  box-shadow: none;
}
li.active > a {
  background-color: #ff9800;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.sidebar .nav li.active > a, .sidebar .nav li.active > a i {
  
  background-color: #ff9800;
}
/* .sidebar .nav li > a:hover, .sidebar .nav li > a:focus {
  background-color: transparent;
  outline: none;
} */
/* .sidebar .nav li.active > a, .sidebar .nav li.active > a i {
  color: #fff;
} */
@media  screen and (max-width: 991px ) and (min-width: 583px) {

  .loader{
    position: fixed;
    margin-top: 103px;
    margin-right: 1272px;
    /* margin-top: 7%;
    margin-right: 92%; */
    z-index: 10001;
  }
}

.gridFilterbox {
  max-width: -webkit-fill-available !important;
}


.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.notification-badge {
  position: relative;
  right: 5px;
  top: -20px;
  color: #941e1e;
  background-color: #f5f1f2;
  margin: 0 -.8em;
  border-radius: 50%;
  padding: 5px 10px;
}

.flexcontainer {
  position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 300;
    margin-left: 7rem;
}


button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none!important;
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

.navbar .navbar-nav > li > a:not(.btn) .material-icons {
  margin-top: -3px;
  top: 0px;
  position: relative;
  margin-right: 3px;
}

.has-danger  {
  color: #f44336; 
}


.invalid-feedbackCS {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size:14px;
    color: #f44336;
}
.cal
{
display: block;
font-size:11px;
padding:0px 2px;
float: right;

}

.cal button {

  float: right;

  height: 33px !Important;
}

body .ui-button.ui-button-icon-only .ui-button-text {
  padding: 0.60em !important;
}
  
.calinput {
  
  width: 268px !important;
  height: 100%;
 
}



 

.mt-40 {
  margin-top: -40px !important;
}

/* Custom CSS */
.card .card-body{
  overflow: visible;
}


.footer {
  position: fixed;
  height: 50px;
  width: 80%;
  bottom: 0px;
  padding-right: 15px;
  z-index: -4000000000;
} 

  


.main-panel {
    padding-bottom: 50px;
    height: 1000px; /* Force height on body */
    min-height: 100%;
    position:relative !important;
}


.sidebar .logo:after { 
  top: 55px !important;
}

.card {
  /* display: inline-block; */
  display: grid;
  text-align: right;
 
}

.card .table {
 
  text-align: right;
  font-size: 12px;
}
.card-stats .card-header + .card-footer {
  
  float: right!important;
}

.main-panel .main-content {
  margin-top: 30px !important;
}
.navbar-nav {

  padding-right: 0px !important;
}

.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
  text-align: left;
}



.fc button {
  height: 30px!Important;
}



 .customlabel{
  padding-top: 10px;
}


.customddl div.ui-dropdown {
  display: block;
  float: left;
  width: 100%;
}

.customddl.ui-dropdown label.ui-dropdown-label {
  cursor: pointer;
  float: right;
  text-align: right;
}

.form-row > .col, .form-row > [class*="col-"] {

  text-align: right !important;
}

.sidebar .logo-img img {
  width: 80%;
  top: 0px;
  position: absolute;
  margin-right: -200px;
}

.uploadDiv{
  text-align: right;
}

.customlabel
{
 font-weight: 600!important;
 font-family: 'Droid-Sans-Arabic' !important;
}

.form-control-static
{
 font-size: 14px;
 }

.navbar .navbar-collapse, .navbar .navbar-form {

  display: inline-flex !important;
}

.nextbutton{
  text-align: left;
}
.card-stats .card-header .card-category:not([class*="text-"]) {
  color: #999999;
  font-size: 14px;
  padding-top: 0px;
}

.card-title {
 
  margin-top: 7px!important;
  font-size: 15px;
 
}

.dropdown-menu-right.show {
  
  opacity: 1!important; 

 visibility: visible !important;
}

.dropdown-menu-right.hiding {

  opacity: 0!important; 

 visibility: hidden;
}

.navbar .navbar-nav
{
    margin-right: -30px;
}


.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
 
  float: right!important;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {

  font-size: 10px;
}

.navbar > .container, .navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start !important;
}

.navbar .navbar-brand {
  padding: 0.15rem 0 !important;
  justify-content: flex-start;
  margin-top: 7px;
}

.ui-dropdown-panel .ui-dropdown-item
{
    display: block;
    width: 285px !important;
    text-align: right!important
}

.hdnPrint {visibility:visible;display:block;}
.visPrint {visibility:hidden;display:none;}

@media print {
  .tab-content > .tab-pane {
    display: block !important;
   
}

body .ui-table .ui-table-thead > tr > th {
 
  font-weight: 500 !important; 
 
}

/* Print section */

.hdnPrint {visibility:hidden;display:none;}
.visPrint {visibility:visible;display:block;}




body {
  -webkit-print-color-adjust: exact !important;
}


#print-section{

  padding-top:50px !important;
  padding-bottom:50px!important;

  margin-top:50px!important;
  margin-bottom:50px!important;
}



}