<div class="main-content">
  <div class="container-fluid">
    <form #requestForm="ngForm" class="needs-validation" name="requestForm" novalidate>
      <div class="row">


        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title"></span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a mat-button class="nav-link" href="#empProfile" data-toggle="tab"
                        [class.active]="viewModel.tabnumber==1" (click)="changeTab(1,null)">
                        <i class="material-icons">account_box</i> {{'Text.EmployeeDetails' | translate}}
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a mat-button class="nav-link active" href="#ServerDetails" data-toggle="tab"
                        [class.active]="viewModel.tabnumber==2" (click)="changeTab(2,null)">
                        <i class="material-icons">library_books</i> {{'Text.ServerDetails' | translate}}
                        <div class="ripple-container"></div>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a mat-button class="nav-link active" href="#RequestDetails" data-toggle="tab"
                        [class.active]="viewModel.tabnumber==3" (click)="changeTab(3,null)">
                        <i class="material-icons">library_books</i> {{'Text.RequestDetails' | translate}}
                        <div class="ripple-container"></div>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a mat-button class="nav-link" *ngIf="!viewModel.isNewMode"
                        href="#workflowHistory" [class.active]="viewModel.tabnumber==4" data-toggle="tab"
                        (click)="changeTab(4,null)">
                        <i class="material-icons">history</i> {{'Text.WorkflowHistory' | translate}}
                        <div class="ripple-container"></div>
                      </a>
                    </li>


                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane" id="empProfile" [class.active]="viewModel.tabnumber==1">
                  <profile-data [employee]="baseEmployee" *ngIf="baseEmployee">
                  </profile-data>
                </div>
                <div class="tab-pane active" id="ServerDetails" [class.active]="viewModel.tabnumber==2">
                  <form #formReq="ngForm" novalidate>
                    <div class="card">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4 ">
                            <label class="customlabel">{{'Text.StartDate' | translate}}</label>
                            <p-calendar tabindex="29" [(ngModel)]="viewModel.startDateValue" [showIcon]="true"
                              #startDate="ngModel" name="dateFrom" [dateFormat]="viewModel.calendarFormat"
                              [readonlyInput]="false" showButtonBar="true" class="cal" inputStyleClass="calinput"
                              requiredIf editableIf [itemfields]="viewModel.fields" [disabled]="false"
                              [locale]="localizationService.isEnglish ? utilityService.calendarEnglishLocale : utilityService.calendarArabicLocale">
                            </p-calendar>
  
                            <span class="invalid-feedbackCS"
                              *ngIf="(viewModel.submitRequestForm && startDate.invalid) || (startDate.touched && startDate.invalid)">{{'Validation.Required' | translate}}</span>
                          </div>
                          <div class="col-md-4 offset-md-2 col-md-offset-2 ">
                            <label class="customlabel">{{'Text.EndDate' | translate}}</label>
                            <p-calendar tabindex="29" [(ngModel)]="viewModel.endDateValue" [showIcon]="true"
                              #endDate="ngModel" name="dateTo" [dateFormat]="viewModel.calendarFormat"
                              [readonlyInput]="false" showButtonBar="true" class="cal" inputStyleClass="calinput"
                              requiredIf editableIf [itemfields]="viewModel.fields"
                              [locale]="localizationService.isEnglish ? utilityService.calendarEnglishLocale : utilityService.calendarArabicLocale">
                            </p-calendar>
  
                            <span class="invalid-feedbackCS"
                              *ngIf="(viewModel.submitRequestForm && endDate.invalid) || (endDate.touched && endDate.invalid)">{{'Validation.Required' | translate}}</span>
  
                            <span class="invalid-feedbackCS"
                              *ngIf="viewModel.invalidstartDate">{{'Validation.InvalidStartDate' | translate}}</span>
  
                            <span class="invalid-feedbackCS"
                              *ngIf="(viewModel.submitRequestForm && endDate.errors?.invalid) || (endDate.touched && endDate.errors?.invalid)">{{'Validation.InvalidDate' | translate}}</span>
                          </div>
                          </div>
                         <div class="card-body table-responsive">
                         <p-table #serverdetailsitemsTable class="table-responsive" [value]="viewModel.serverDetailsItems">
                          <ng-template pTemplate="header">
                            <tr>  
                              <th>{{'Text.ServerName' | translate}}</th>
                              <th>{{'Text.ServerIP' | translate}}</th>
                              <th>{{'Text.AdminPriv' | translate}}</th>
                              <!--<th>{{'Text.View' | translate}}</th>-->
                              <th *ngIf="viewModel.editable"> {{'Text.Delete' | translate}}</th>
                            </tr>
                          </ng-template> 
                          <ng-template pTemplate="body" let-this.viewModel.serverDetailsItems let-i="rowIndex">
                            <tr>
                              <td>{{this.viewModel.serverDetailsItems[i].serverName}}</td>
                              <td>{{this.viewModel.serverDetailsItems[i].serverIP}}</td>
                              <td>
                                <p-checkbox name="isAdmin{{i}}" [(ngModel)]="this.viewModel.serverDetailsItems[i].isAdmin" value="this.viewModel.serverDetailsItems[i].isAdmin"disabled="true" binary="true"></p-checkbox>
                                </td> 
                             <!--<td> 
                              <button class="btn btn-primary btn-sm btnColor" type="button"
                              (click)="viewServerDetails(i)">{{'Button.View' | translate}}</button>
                             </td>-->
                             <td *ngIf="viewModel.editable">
                             <button class="btn btn-primary btn-sm btnColor" type="button"
                             (click)="deleteServerDetails(i)">{{'Button.Delete' | translate}}</button>
                             </td>
                             </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <div style="width: 300px">

                                {{'Message.Empty' | translate}}
                            </div>
                        </ng-template>
                         </p-table>
                         <span class="invalid-feedbackCS" 
                         *ngIf="viewModel.atLeastOne">{{'Validation.AtLeastOne' | translate}}</span>
                         
                          <button *ngIf="viewModel.editable"class="btn btn-primary btn-sm btnColor" type="button"
                             (click)="showDialogForAddNewServer()">{{'Button.Add' | translate}}</button>
                          </div>
                      
                       

                        <div class="col-md-12 col-xs-12 ">
                          <div class="nextbutton">

                            <button class="btn btn-primary btn-sm btnColor iconArrow" type="button"
                              (click)="changeTab(3,formReq)">
                              {{'Button.Next' | translate}}
                              </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane" id="RequestDetails" [class.active]="viewModel.tabnumber==3">

                  <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body table-responsive">
                      <div class="form-row">
                      
                        <div class="col-md-4">

                          <label class="customlabel">{{'Text.ServerSuggestedUsername' | translate}}</label>
                          <input type="text" class="form-control"
                            [(ngModel)]="viewModel.item.domainModel.username" name="username"
                            #username="ngModel" requiredIf editableIf [itemfields]="viewModel.fields" />

                            <span class="invalid-feedbackCS"
                            *ngIf="(viewModel.submitRequestForm && username.invalid) || (username.touched && username.invalid)">{{'Validation.Required' | translate}}</span>

                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-4" >

                          <label class="customlabel">{{'Text.ServerJustification' | translate}}</label>
                          <textarea pInputTextarea class="form-control"
                            [(ngModel)]="viewModel.item.domainModel.justification" name="justification"
                            #justification="ngModel" requiredIf editableIf [itemfields]="viewModel.fields" ></textarea>


                          <span class="invalid-feedbackCS"
                            *ngIf="(viewModel.submitRequestForm && justification.invalid) || (justification.touched && justification.invalid)">{{'Validation.Required' | translate}}</span>

                        </div>
                        <div class="col-md-4 offset-md-2 col-md-offset-2">

                          <label class="customlabel">{{'Text.ITNotesExecution' | translate}}</label>
                          <textarea pInputTextarea class="form-control"
                            [(ngModel)]="viewModel.item.domainModel.notes" name="notes"
                            #notes="ngModel" requiredIf editableIf [itemfields]="viewModel.fields"></textarea>


                          <span class="invalid-feedbackCS"
                            *ngIf="(viewModel.submitRequestForm && notes.invalid) || (notes.touched && notes.invalid)">{{'Validation.Required' | translate}}</span>

                        </div>
                      </div>
                      <div class="col-md-12 col-xs-12 ">
                        <div class="nextbutton">


                          <button class="btn btn-primary btn-sm btnColor" type="button" *ngIf="viewModel.isNewMode"
                            (click)="submit(requestForm)">{{'Button.Finish' | translate}}<i class="material-icons">
                              save_alt
                            </i></button>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                  <div class="tab-pane" id="workflowHistory" [class.active]="viewModel.tabnumber==4" *ngIf="viewModel.item.domainModel.id">
                    <app-workflow-history [jobID]="viewModel.jobId">
                    </app-workflow-history>
                  </div>



                </div>
              </div>
            </div>
          </div>


        </div>
        <p-dialog header="Server Details" [(visible)]="viewModel.showServerDetailsDialog" [modal]="true" [responsive]="true"
        [style]="{width: '350px', minWidth: '200px'}" [closable]="false"[minY]="70" [maximizable]="true" [baseZIndex]="10000">
        <label class="customlabel">{{'Text.ServerName' | translate}}</label>
        <input class="form-control"type="text" name="serverName" [(ngModel)]="viewModel.serverDetailItem.serverName" 
        #serverName="ngModel" requiredIf editableIf [itemfields]="viewModel.fields" [pattern]="viewModel.englishOnly">   
        
          <!--span class="invalid-feedbackCS"
          *ngIf="(viewModel.submitRequestForm && serverName.invalid && serverName.errors?.required) 
          || (serverName.touched && serverName.invalid && serverName.errors?.required)">
          {{'Validation.Required' | translate}}</span>-->
         <span
          *ngIf="(viewModel.submitRequestForm && serverName.invalid && serverName.errors?.pattern) || (serverName.touched && serverName.invalid && serverName.errors?.pattern)"
          class="invalid-feedbackCS">{{'Validation.InvalidEnglishOnly' | translate}}</span>


        <label class="customlabel">{{'Text.ServerIP' | translate}}</label>
        <input class="form-control" type="text" name="serverIP" [(ngModel)]="viewModel.serverDetailItem.serverIP" 
        #serverIP="ngModel" requiredIf editableIf [itemfields]="viewModel.fields" [pattern]="viewModel.englishOnly"> 
        
        <!--<span class="invalid-feedbackCS"
          *ngIf="(viewModel.submitRequestForm && serverIP.invalid && serverIP.errors?.required) 
          || (serverIP.touched && serverIP.invalid && serverIP.errors?.required)">
          {{'Validation.Required' | translate}}</span>-->
         <span
          *ngIf="(viewModel.submitRequestForm && serverIP.invalid && serverIP.errors?.pattern) || (serverIP.touched && serverIP.invalid && serverIP.errors?.pattern)"
          class="invalid-feedbackCS">{{'Validation.InvalidEnglishOnly' | translate}}</span>

        <label class="customlabel">{{'Text.AdminPriv' | translate}}</label>
        <p-checkbox name="isAdmin" binary="true" [(ngModel)]="viewModel.serverDetailItem.isAdmin"
         [itemfields]="viewModel.fields"></p-checkbox>
        <p-footer >

        <span class="invalid-feedbackCS"
           *ngIf="viewModel.invalidserverDetail">{{'Validation.InvalidserverDetail' | translate}}</span>
          
        <span class="invalid-feedbackCS"
            *ngIf="viewModel.serverDetailItemExist">{{'Validation.ItemAlreadyExists' | translate}}</span>
              <button *ngIf="viewModel.showUpdateServer; else addenable"class="btn btn-primary btn-sm btnColor" type="button"(click)="updateServerDetails(viewModel.serverDetailItem)">{{'Button.Edit' | translate}}</button>
              <ng-template #addenable>
              <button *ngIf="viewModel.editable"class="btn btn-primary btn-sm btnColor" type="button"(click)="addNewServerDetails()">{{'Button.Add' | translate}}</button>
              </ng-template>  
              <button type="button" pButton icon="pi pi-close" (click)="cancel()" label="Cancel"
            class="ui-button-secondary"></button>
              
          </p-footer>
            
       </p-dialog>
    </form>
    
    <app-workflow-decisions *ngIf="viewModel.jobId && !viewModel.isNewMode" [viewModel]="viewModel"
      [decisions]="viewModel.item?.decisions">
    </app-workflow-decisions>
  </div>


</div>