<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <location path="." inheritInChildApplications="false">
   
    <system.webServer>
     
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" arguments="%LAUNCHER_ARGS%" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: ad19a021-7150-44fa-aa1f-070e69233e32-->